<div class="all-post-container">
<!--  <h1>Home</h1>-->
  <div class="home-announce">
    <%= link_to '【本HPの目的】', about_path, class: 'h1-link' %>
    <p>
      皆さんで建設的な議論をしましょう！
    </p>

    <%= link_to '新しい投稿を作成', new_post_path, class: 'btn new-post-btn' %>

  </div>

  <%= search_form_for @q do |f| %>
    <div>
      <%= f.label :title_cont, "タイトルで検索" %>
      <%= f.search_field :title_cont %>
    </div>
    <div>
      <%= f.label :content_cont, "コンテンツで検索" %>
      <%= f.search_field :content_cont %>
    </div>
    <div>
      <%= f.label :comments_content_cont, "コメントで検索" %>
      <%= f.search_field :comments_content_cont %>
    </div>
    <div>
      <%= f.submit "検索" %>
    </div>
  <% end %>

  <!--  <hr class="announce-post-border">-->

  <div class="post-list">
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>

  <div class="pagination">
    <%= paginate @posts %>
  </div>

</div>
